/* 头部样式 */
header .nav{
    padding-top: 20px;
    padding-left: 240px;
}
header .nav li a{
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 40px;
    height: 48px;;
}
header .nav li a:hover{
    background-color: white;
    border-bottom: 2px solid #f6ce2a;
}
/* 轮播图样式 */
.banner{
    background-color: #f6ce2a;
}
.banner .item img{
    width: 100%;
    height: 100%;
}
.banner .carousel-caption{
    left: 50%;
    top: 18%;
    width: 31%;
}
.banner .carousel-caption h3{
    font-size: 36px;
    font-weight: bold;
}
.banner .carousel-caption h3:last-of-type{
    font-weight: inherit;
}
.banner .carousel-caption a{
    display: block;
    width: 148px;
    height: 56px;
    font-size: 18px;
    text-align: center;
    line-height: 56px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    margin-top: 20px;
}
/* 我们主打的服务 */
#service .top{
    margin-top: 42px;
    margin-bottom: 66px;
}
#service .top h1{
    font-size: 30px;
    color: #5d5d5d;
    margin-bottom: 16px; 
}
#service .top p{
    margin: 0 auto;
    width: 136px;
    font-size: 18px;
    color: #999999;
    padding-top: 16px;
    border-top: 2px solid #f6ce2a;
}
#service .body div{
    margin-bottom: 60px;
}
#service .body img{
    display: block;
    margin: 0 auto;
    height: 60px;
}
#service .body h6{
    font-size: 18px;
    color: #636363;
}
#service .body p{
    font-size: 12px;
    width: 280px;
    margin: auto;
    height: 32px;
}
/* 我们的历年的心血大作 */
#case{
    padding-bottom: 36px;
    padding-top: 42px;
    background-color: #fafafa;
}
#case .top{
    margin-top: 42px;
    margin-bottom: 66px;
}
#case .top h1{
    font-size: 30px;
    color: #5d5d5d;
    margin-bottom: 16px; 
}
#case .top p{
    margin: 0 auto;
    width: 116px;
    font-size: 18px;
    color: #999999;
    padding-top: 16px;
    border-top: 2px solid #f6ce2a;
}
#case .body img{
    display: block;
    margin: 0 auto;
    margin-bottom: 56px;
}
#case .bottom a{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 50px;
    font-size: 18px;
    color: #fff7d4;
    line-height: 50px;
    background-color: #f6ce2a;
    font-weight: bold;
}
/* 我们的发展历程 */
#history{
    margin-bottom: 36px;
}
#history .top{
    margin-top: 42px;
    margin-bottom: 24px;
}
#history .top h1{
    font-size: 30px;
    color: #5d5d5d;
    margin-bottom: 16px; 
}
#history .top span{
    display: block;
    margin: 0 auto;
    width: 126px;
    height: 2px;
    background-color: #f6ce2a;
    margin-bottom: 24px;
}
#history .top p{
    font-size: 18px;
    color: #999999;
}
#history .body h2{
    font-size: 18px;
    color: #5d5d5d;
    font-weight: bold;
}
#history .body p{
    font-size: 12px;
    color: #5d5d5d;
}
#history .bottom a{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 50px;
    font-size: 18px;
    color: #fff7d4;
    line-height: 50px;
    background-color: #f6ce2a;
    font-weight: bold;
    margin-top: 36px;
}
/* 尾部样式 */
footer{
    background-color: #333333;
}
footer .left{
    padding-top: 5px;
    color: white;
    background-color: #f6ce2a;
    padding-bottom: 170px;
}
footer .left h1{
    font-size: 60px;
    margin-bottom: 0px;
}
footer .left span{
    display: block;
    width: 42px;
    height: 3px;
    background-color: white;
}
footer .left h2{
    font-size: 24px;
}
footer .left h3{
    font-size: 42px;
}
footer .right .nav{
    margin-top: 36px;
    margin-bottom: 48px;
}
footer .right .nav a{
    font-size: 16px;
    color: #bbbbbb;
}
footer .right .nav a:hover{
    color: black;;
}
footer .right p{
    margin-bottom: 18px;
}
footer .right  p:last-of-type{
    width: 420px;
    font-size: 14px;
    color: #999999;
    padding: 8px;
    border-radius: 15px;
    background-color: black;
    margin-left: 24px;
    margin-top: 24px;
}