.clearfix{
    clear:both;
}
/* 头部样式 */
header .nav{
    padding-top: 20px;
    padding-left: 240px;
}
header .nav li a{
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 40px;
    height: 48px;;
}
header .nav li a:hover{
    background-color: white;
    border-bottom: 2px solid #f6ce2a;
}
/* 海报图 */
#banner img{
    width: 100%;
}
/* 内容头部 */
#top .row a{
    font-size: 12px;
}
#top .row span{
    width: 120px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #f6ce2a;
    margin-top: 18px;
}
#top .row p{
    font-size: 18px;
    color: #999999;
    margin-top: 24px;
    margin-bottom: 56px;
}
/* 内容主体 */
#content .row{
    margin-top: 10px;
    margin-bottom: 28px;
}
#content .row img{
    display: block;
    margin: 0 auto;
}
#content .row h2{
    margin: 0;
    color: #908f8f;
}
#content .row h3{
    margin-top: 5px;
    margin-bottom: 18px;
    color: #424141;
    font-size: 18px;
}
#content .row p:first-of-type{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
#content .row p{
    line-height: 30px;
}
#content .row a{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    margin-top: 20px;
}
#content .row:first-of-type a{
    background-color: #f6ce2a;
    color: white;
    border: none;
}
#content .row a:hover{
    background-color: #f6ce2a;
    color: white;
    border: none;
}
/* 分页符 */
#nav nav{
    margin-top: 24px;
    margin-bottom: 24px;
}
/* 尾部样式 */
footer{
    background-color: #333333;
}
footer .left{
    padding-top: 5px;
    color: white;
    background-color: #f6ce2a;
    padding-bottom: 170px;
}
footer .left h1{
    font-size: 60px;
    margin-bottom: 0px;
}
footer .left span{
    display: block;
    width: 42px;
    height: 3px;
    background-color: white;
}
footer .left h2{
    font-size: 24px;
}
footer .left h3{
    font-size: 42px;
}
footer .right .nav{
    margin-top: 36px;
    margin-bottom: 48px;
}
footer .right .nav a{
    font-size: 16px;
    color: #bbbbbb;
}
footer .right .nav a:hover{
    color: black;;
}
footer .right p{
    margin-bottom: 18px;
}
footer .right  p:last-of-type{
    width: 420px;
    font-size: 14px;
    color: #999999;
    padding: 8px;
    border-radius: 15px;
    background-color: black;
    margin-left: 24px;
    margin-top: 24px;
}